[2021-04-08 03:43] vejmarie commented on #167
Just retry it shall work now ;)

[2021-04-08 03:51] slaarti commented on #167
Well, the download did work, but...

[code]

[2021-04-08 04:03] vejmarie commented on #167
I just updated it to make a last try. brew remove freecad and then brew install freecad
Can you edit /usr/local/Homebrew/Library/Taps/freecad/homebrew-freecad/Formula/freecad.rb and change the sha256sum for catalina on line 51 to 85798a42290e257568301b811b6c187fef53f4c3aa20a150677a54c4f805971c and let me know if that is better.

[2021-04-08 04:11] slaarti commented on #167
It installed this time, although it balked at the postinstall step of `pip3 install six` (possibly because it's already installed?). More importantly:

[code]

I see there is a `libspnav` formula in `homebrew-core`; do I just install that?

[2021-04-08 04:12] vejmarie commented on #167
Yes give it a try brew install libspnav

[2021-04-08 04:33] slaarti commented on #167
Well, that was interesting... `libspnav` installed fine, and this time FreeCAD did start up... but threw a bunch of errors and tracebacks about not being able to find the PySide module. After chasing down some ideas about my having both `python3.9` from this tap and `python@3.9` from upstream installed, it turned out that the problem was that `homebrew-freecad-bundle.pth` referenced `/usr/local/Ce

[2021-04-08 15:03] vejmarie commented on #167
I have update the formula to reflect the bug you reported and issue a new PR. Thanks a lot !

[2021-04-08 15:04] #167 closed

[2021-04-08 16:22] ipatch commented on #167
pretty sure i've mentioned this before in case i haven't. it would behoove us to use github actions to do CI/CD for distributing the bottles. i've been setting up a macos VM (mojave) on an extra macbook i have, and plan to use it as a self hosted runner, but definitely using github actions seems like the path to least resistance.

https://brew.sh/2020/11/18/homebrew-tap-with-bottles-uploaded-to-gi

[2021-04-09 00:01] vejmarie commented on #167
I like this idea, but do see a couple of challenge that we have to overcome to make it works. We definitely need a CI/CD for our homebrew package. I can probably add a running VM on my macpro at home also, was more thinking at putting a system within a DC. Right now justyour.parts server is hosted into a datacenter (that is a baremetal machine), I can generate some API keys to facilitate upload au

[2021-04-09 18:30] ipatch opened #169 "erroneous error messages when running `brew update`"
[code]

[2021-04-10 01:03] vejmarie commented on #169
Can you tell me which macos version you are running ? I do not have these issue on my setup

[2021-04-10 01:11] vejmarie commented on #169
Ok, I have been able to reproduce. Let's fix it now.

[2021-04-10 01:54] vejmarie commented on #169
Let me know if the propose pulled request seems ok to you. I just tested it and it seems to work and remove all the erroneous messages.

[2021-04-10 22:29] #169 closed

[2021-04-11 12:01] zisoft commented on #163
Are there any news on this? I have the same problem on my Mac with MacOS Big Sur 11.2.3:

`CMake Error at src/MacAppBundle/cmake_install.cmake:74 (file):
  file INSTALL cannot find
  "/Users/mario/FreeCAD/source/src/MacAppBundle/import site": No such file or
  directory.
Call Stack (most recent call first):
  src/cmake_install.cmake:51 (include)
  cmake_install.cmake:68 (include)

make: *** [insta

[2021-04-12 03:07] vejmarie commented on #164
Please can you test with the upcoming PR (warning you need to use my own branch of freecad for testing. Edit freecad.rb and point github entry to it)

[2021-04-12 03:08] vejmarie commented on #163
Can you test the upcoming PR ? It is fixing the issue (normally)

[2021-04-12 03:11] vejmarie commented on #142
I just fixed that issue (sorry for the delay, got too many things to do at work). Please test latest PR and let me know before I close it !

[2021-04-12 03:14] #37 closed

[2021-04-12 03:15] vejmarie commented on #31
Pretty old issue now. I am closing it. We will reopen it if needed.

[2021-04-12 03:15] #31 closed

[2021-04-12 03:17] vejmarie commented on #42
I have added Elmer and even created the associated formula which is laid down into our Formula's now. Got some users in Singapor who like it. Will close the current issue for the moment, and add calculix as a potneitl dependency.

[2021-04-12 03:17] #42 closed

[2021-04-12 03:18] #45 closed

[2021-04-12 03:21] vejmarie commented on #159
I am closing this issue as remaining problem are covered by other opened issue. #142 has now a fix with latest PR.

[2021-04-12 03:21] #159 closed

[2021-04-12 03:38] vejmarie commented on #154
I will be fixing that issue shortly as soon as we can close the macapp creation issue.

[2021-04-12 11:33] luzpaz commented on #42
@vejmarie what about graphviz and gmsh?

[2021-04-12 14:39] zisoft commented on #163
Thanks for your quick reply.
Unfortunately, this doesn't seem to have any effect.

- cloned your repo, branch macbundle
- emptied the build folder
- run cmake
- make -j6 install

Compilation went fine, but when it comes to the final install step it still says:

`
CMake Error at src/MacAppBundle/cmake_install.cmake:74 (file):
  file INSTALL cannot find
  "/Users/mario/FreeCAD/source/src/MacAppBundl

[2021-04-12 15:25] vejmarie commented on #163
What is your cmake command ? Because it look like that you are not building with hombrew (which is fine). The import site issue can be fixed by using an export PKG_CONFIG_PATH = "/usr/local/opt/icu4c@67.1/lib/pkgconfig//lib/pkgconfig" and remove default icu4c from your system (brew remove icu4c)

If that still doesn't work, I need your full cmake command. I have met your error yesterday while debu

[2021-04-12 15:38] ipatch commented on #142
awesome, give me a few. i'm going to have to build most if not all bottles from source unfortunately because i'm still running macos 10.14 mojave.

[2021-04-12 16:15] zisoft commented on #163
Ok, I followed the steps.

brew remove --ignore-dependencies icu4c
export PKG_CONFIG_PATH...

This is my shell script to compile FreeCAD:

export PREFIX_PATH="/usr/local/Cellar/qt5152/5.15.2/lib/cmake;/usr/local/Cellar/nglib/v6.2.2007/Contents/Resources;/usr/local/Cellar/vtk@8.2.0/8.2.0_1/lib/cmake/vtk-8.2;/usr/local/opt/boost-python3@1.75.0/lib/cmake"
export PKG_CONFIG_PATH = "/usr/local/opt/icu4

[2021-04-12 16:22] vejmarie commented on #163
ok I think you do have sip installed on your machine (the default one). Just do
brew remove sip
brew  install freecad/freecad/sip@4.19.24
brew link --force sip@4.19.24

This step shall fix your initial error into cmake (remove it before rebuilding otherwise it keeps it into the cache)

Be sure that all the package from freecad are properly linked on your syste,
brew link icu4c@67.1
brew link --for

[2021-04-12 16:58] zisoft commented on #163
Ok, I have followed all the steps. The PKG_CONFIG_PATH should be "/usr/local/opt/icu4c@67.1/lib/pkgconfig" right? (I assume you have a type in your comment above).

Did all the link steps you mentioned.

...still the exact same result...

Sorry, I'm long time developer veteran but I'm completely lost here.

[2021-04-12 17:04] vejmarie commented on #163
Yes got a typo sorry.  Can you post src/MacAppBundle/cmake_install.cmake from your build directory. I can have a look to the error.  The file is not properly generated during the cmake phase by one of imported module which is probably not linked as it shall on your machine. On mine the error was coming from the SIP package.

No worries to be lost, debugging freecad installation is not a complex ta

[2021-04-12 17:11] vejmarie commented on #163
Look like your issue is coming from protobuf

/usr/local/Cellar/protobuf/3.15.8

Can you remove it from your machine ? I do not have it installed

[2021-04-12 17:20] zisoft commented on #163
That was as success. Installation completes without error now.
But the resulting FreeCAD.app can not be opened.

"FreeCAD.app cannot be opened due to an error" (I get this message in german).

[2021-04-12 17:23] vejmarie commented on #163
hey we are progressing. Weird message. Can you send me through email, or put the output of your compilation as an attachement into this issue. I can have a look if everything is ok. That might be an issue with the fact that your Mac is prohibiting the execution of non-signed app. You can open the app by rick clicking on the App and then open. It will force to remove the protection during the first

[2021-04-12 17:26] zisoft commented on #163
Will try, this will take much longer of course. Please see my EDIT above

[2021-04-12 17:29] vejmarie commented on #163
Ok, do not recompile. I know from where this error comes
You need to use my freecad branch you are not using it I think.

git clone https://github.com/vejmarie/freecad

then checkout macbundle. It will fix this issue. Other option cherry pick the modifcations from this branch, that is a very small one.

If you pick up the branch, the error might comes from the fact that you need to fully clean you

[2021-04-12 17:47] zisoft commented on #163
Hmmm, no, that's where I started (cloned your repo, branch macbundle).
Tried again, deleted the source directory and cloned again.
Deleted the contents of the build folder.

There is no .ccache folder in my HOME.

Run cmake again, then build.

Here are the last lines of the build process:

-- Making bundle relocatable...
-- INFO: Analyzing bundle dependencies...
-- ERROR: Unable to find LC_DYLD_LO

[2021-04-12 17:51] vejmarie commented on #163
I think your cmake is lacking a lot of entries. Let me give them to you
cmake -DBUILD_QT5=ON -DUSE_PYTHON3=1 -DCMAKE_CXX_FLAGS:STRING="-I/usr/local/include -I/usr/local/opt/icu4c@67.1/include" -DPYTHON_EXECUTABLE=/usr/local/bin/python3 -DPYTHON_INCLUDE_DIR=/usr/local/opt/python3.9/Frameworks/Python.framework/Headers -DCMAKE_CXX_STANDARD=14 -DBUILD_ENABLE_CXX_STD:STRING=C++14 -DBUILD_FEM_NETGEN=1 -

[2021-04-12 18:05] zisoft commented on #163
This gives me a bunch of compilation errors.
Will investigate further tomorrow.

Thank you again!

[2021-04-12 18:13] zisoft commented on #163
Last attempt for today :-)

After adding /usr/local/opt/llvm/lib/cmake to the PREFIX_PATH I now get

-- Making bundle relocatable...
-- INFO: Analyzing bundle dependencies...
error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/otool-classic: can't open file: /usr/local/opt/icu4c/lib/libicuuc.68.dylib (No such file or directory)
-- ERROR: Failed to resolve

[2021-04-12 19:41] vejmarie commented on #163
Did you recompiled any other dependencies ? Look like that /usr/local/opt/icu4c/lib/libicuuc.68.dylib is one of your dependency. So what you can try is to re-install the regular icu4c through brew and see where the next error will be. (brew install icu4c)

[2021-04-12 20:05] zisoft commented on #163
brew install icu4

this (re)installed a bunch of other packages as dependencies, i.e. freecad/freecad/vtk@8.2.0

I just ran `make install` again in the build directory.
Couldn't see any errors anymore, so I launched FreeCAD.app and IT WORKS :-)

YOU ARE MY HERO!! :-)

Thank you so much for your efforts!
So does that mean once your PR is accepted I should switch to the official repo again?

This st

[2021-04-12 20:18] vejmarie commented on #163
I think that when both of my PR will be merged, that will work transparently from homebrew (brew install --HEAD) and you will be able to rebuild nightly freecad on Mac.

Good to see it working. Enjoy FreeCAD !

[2021-04-13 18:03] ipatch commented on #164
i haven't forgotten about your PR. presently i've built a majority of the formula from source and have created bottles for all the formula i have built so far. they can be found [here](https://github.com/ipatch/homebrew-freecad/releases/tag/april.12.2021)

started building the taps version of qt5152 which will probably take ~ 7 to 12 hours. so i'll post back when that finishes.

[2021-04-16 18:21] ipatch commented on #163
@zisoft

i've been bottling up the freecad dependencies for macos mojave, and have been building and installing freecad using the formula file and also [manually building](https://github.com/ipatch/homebrew-us-05#-development--freecad--non-formula-build--install) from the git source using cmake from a cli.

I have installed all freecad dependencies from this tap, and when i tried to build freecad

[2021-04-16 20:09] zisoft commented on #163
@ipatch

Thank you for your hints. I now a have a configuration which compiles and links fine:

export PREFIX_PATH="/usr/local/opt/llvm/lib/cmake;/usr/local/Cellar/qt5152/5.15.2/lib/cmake;/usr/local/Cellar/nglib/v6.2.2007/Contents/Resources;/usr/local/Cellar/vtk@8.2.0/8.2.0_1/lib/cmake/vtk-8.2;/usr/local/opt/boost-python3@1.75.0/lib/cmake"
export PKG_CONFIG_PATH="/usr/local/opt/icu4c@67.1/lib/pkgc

[2021-04-16 22:48] ipatch commented on #163
presently i don't have a big sur box setup, but i plan to have one going sooner than latter to hopefully test these things. that said are you building freecad on an m1 mac?

also something i've been meaning to do is update some of my documentation related to building freecad, and something i learned from a few posts on the freecad forum was how to setup the build and source directories. and lookin

[2021-04-17 05:25] zisoft commented on #163
Yes, that is exactly what I'm doing. This is my directory structure:

    ~/FreeCAD/source
    ~/FreeCAD/build

I'm running a MacBook Pro 16" (2019), Intel Core I9

[2021-04-17 15:21] vejmarie commented on #163
can you tell me which git commit you are compiling. I will try to reproduce your issue on my machine. Can you also display into freecad the python console and tell me which python interpreter version is displayed.

[2021-04-17 17:29] zisoft commented on #163
I have forced a

    brew link --overwrite python@3.9

and this seemed to solve the problem. No crashes anymore so far.

Python console in freecad says:

    Python 3.9.4 (default, Apr  5 2021, 01:50:46)
    [Clang 12.0.0 (clang-1200.0.32.29)] on darwin

My git commit is master from https://github.com/FreeCAD/FreeCAD

The dependencies with brew are a nightmare. I really don't know what steps I've

[2021-04-21 15:10] vejmarie commented on #163
Ok, it probably means that you needed to link python before the build ;). Good to see it working now

[2021-04-21 15:10] vejmarie commented on #164
@ipatch any news on your build ?

[2021-04-21 16:30] ipatch commented on #164
my bad, give me a few (by end of business day CST) and i'll let you know. i was working an updated PR for the freecad formula BTW

and thanks for the bump 🙏 totally slipped my mind.

[2021-04-21 16:32] vejmarie commented on #164
No worries ;). Just want to try to integrate latest PR to keep moving forward and being sure that we are improving instead of regressing

[2021-04-21 22:36] ipatch commented on #164
just started the build process of the formula using

[code]

[2021-04-24 21:11] ipatch commented on #164
for future me 👴🏼

https://github.com/vejmarie/FreeCAD/commit/a5a448c85766d59bb3e71168906c704857a0db16

[2021-04-26 11:57] yves-surrel opened #175 "Error in AxisPy.cpp during brew install"
MacBook Pro, Big Sur 11.2.1

Issuing `brew install --HEAD --with-macos-app freecad --verbose`, got (at around 37%)

[code]

[2021-04-27 20:19] zisoft commented on #163
The FreeCAD.app is only runnable in the folder in which it was built. As soon as I move it to another folder (i.e. /Applications) it quits with an error message. The report says:

    Termination Reason:    DYLD, [0x1] Library missing

    Application Specific Information:
    dyld: launch, loading dependent libraries

    Dyld Error Message:
      dyld: Using shared cache: 0781246A-4850-3632-8FD5

[2021-04-27 20:24] ipatch commented on #163
https://github.com/vejmarie/FreeCAD/commit/a5a448c85766d59bb3e71168906c704857a0db16#commitcomment-50072628

[2021-04-30 18:48] jrhubott opened #176 "Unable to build using brew in OSX Big Sur"
Get the following error when building using the brew instructions:
[code]

I have tried everything and even uninstalled brew and started fresh with just the FreeCAD tap.  Not sure what is going on.  Any advise would be great.

Thanks

[2021-04-30 18:59] ipatch commented on #176
not the answer you're looking but this is an upstream issue with shiboken that has been addressed with this tap/formula, for you viewing pleasure [see this](https://github.com/FreeCAD/homebrew-freecad/issues/165)

personally i stopped seeing this issue when the formula file was updated with [the following line](https://github.com/FreeCAD/homebrew-freecad/blob/master/Formula/freecad.rb#L73)

did yo

[2021-04-30 19:14] jrhubott commented on #176
I just figured it out.  It is from having MacPorts installed.

From [SetupShibokenAndPyside.cmake](https://raw.githubusercontent.com/FreeCAD/FreeCAD/master/cMake/FreeCAD_Helpers/SetupShibokenAndPyside.cmake)

[code]

[2021-04-30 19:14] #176 closed

[2021-05-11 14:39] nachumk opened #177 "Clean builds on MacOS crash on save"
I have been building FreeCAD for a few weeks, and each build on MacOS crashes on save. Weekly builds downloaded (using Conda) do not crash. I have tried building with --with-debug, but it doesn't seem to work - I get no source in the stack trace under lldb. Latest build from yesterday: HEAD-cb2edd1

[code]

[2021-07-07 18:12] ipatch opened #178 "heads up compiling latest version of freecad from git source has a xerces-c dep now"
[code]

aka

github.com/freecad/freecad/commit/01c901066

seems to now have a dependency on **xerces-c**

[code]

[2021-07-11 01:37] ipatch opened #179 "boost 1.75 download links 404"
[code]

the above two links are no more **404** due to bintray shutting down.

[2021-07-11 01:37] ipatch commented on #179
#180

[2021-07-29 14:09] ageeye commented on #178
The commit do not add an include, require or other dependence. Maybe it is require from other formula?

[2021-07-29 14:11] ageeye commented on #179
Please closed this issue. :-D

[2021-07-29 14:59] #179 closed

[2021-07-29 20:42] ipatch commented on #178
here's another person on the freecad forum documenting the issue similar to what i ran into.

https://forum.freecadweb.org/viewtopic.php?f=4&t=60663

[2021-07-30 07:38] ageeye commented on #178
The Base/Reader.cpp  has long been included exerces-c. From this point of view must search therefore one completely other starting point. E.g. changes from cmake version.

[2021-07-31 03:43] ipatch opened #186 "relocate bottles to github"
as this repo / homebrew tap currently works the bottles are being hosted on a non github TLD

[code]

most if not all 3rd party homebrew taps are hosting their bottles via github.

using github releases makes it easy for github actions and _admin_ members with write access to the repo to manage artifacts for the repo such as bottles for a homebrew tap.

presently, homebrew-core officially supports

[2021-08-01 13:25] ageeye commented on #177
I had similar trouble. If I used llvm@11 all works fine.

`brew install llvm@11
brew unlink llvm
brew link llvm@11`

[2021-08-01 17:10] ipatch commented on #177
experienced the save on crash as well. taking a quick look at your output it looks it might be icu4c related.

i rebuilt all dependencies on macos mojave and also rebuilt freecad, and have not had an issue.

you can check out the dependencies and dmg i put together [here](https://github.com/ipatch/homebrew-freecad/releases/tag/07.28.2021)

[2021-08-01 18:19] ageeye commented on #177
Hello ipatch.

FreeCAD breaks with libc++.1.dylib, which is a part of llvm.

Your DMG is too small to included all libs. I think MakeMacBundleRelocatable process stops. Please test my [Commit](https://github.com/ageeye/homebrew-freecad/commit/d96d1f7c65f86260c9c96f7248d8d3d67b1eb2dd)

[2021-08-01 18:33] ipatch commented on #177
hmmm,

presently, i'm running macos mojave on my 2013 late macbook pro. i tested the dmg i created yesterday on my box. and everything appears to be working (to the best of my knowledge). something to note, i use the formulae file in this repo to build and install the dependencies, but i've cloned the main freecad repo https://github/freecad/freecad and build / install from the main git repo. ie.

[2021-08-01 18:50] ageeye commented on #177
MakeMacBundleRelocatable.py writes at the end 'Done.'. Maybe it helps, to check the process. But this is other topic. We should discuss [here](https://github.com/FreeCAD/homebrew-freecad/pull/172). I hope to see you all again soon.

[2021-08-01 21:08] ipatch commented on #177
i just tested [my app bundle / dmg][1] from [my most recent release] on a macos big sur vm, and i was able to perform all the basic actions i mentioned above, _so i don't completely understand why you say my dmg is too small?_

below is a screengrab i took running freecad within the big sur vm.

![image](https://user-images.githubusercontent.com/613805/127785364-6b2b672e-1587-4529-9e5d-6f6d09ca574

[2021-08-02 06:30] ageeye commented on #177
Hello ipatch,

I thought that your DMG is ready to use. But it is compressed. Your DMG is unpack 1,45 GB. Sorry about the confusion. Your DMG runs with rosetta 2. Alle is fine.

[2021-08-02 14:56] dirkolbrich opened #187 "404 error on coin@4.0.0_1 and nglib@6.2.2101 bottles"
Upgrade for the coin & nglib bottles not possible, gives 404 error on download. This can be verified too, if URL of bootle is opened in browser window.

New installs of the FreeCAD dependency packages with `brew install --only-dependencies freecad --with-packaging-utils` fails as well.

[code]

[2021-08-02 18:12] ipatch commented on #187
thanks for reporting this, this is something i noticed while grabbing all the bottles for _big sur_ and _catalina_ the other day.

i believe the formulae files were updated (the version numbers and URLs to download the `.tar.gz` of the source) the other day but bottles were never created for these new versions.

one possible work around is to download a snapshot (the specific version of the formul

[2021-08-02 19:30] sgrogan commented on #187
@ipatch
I can merge pull requests.

[2021-08-02 22:20] ipatch commented on #187
@sgrogan

yeah give me a little bit, and i'll get one going. gotta hand AFK things for a minute two.

as for admin access to the repo, i don't suppose you can grant me admin access to this repo.

i'd like to publish a release to house the existing bottles that i gathered and the ones i built myself, so i can update the formulae files to have bottles for 3 major releases of macos.

also i could a l

[2021-08-03 17:41] nachumk commented on #114
I am getting the same message as the originator got. I tried updating Python3 path in freecad.rb, but that didn't work. The referred to log files don't exist.

I am on MacOS 11.5.1. I have Xcode updated. xcode-select --install says Xcode command line tools are already installed.

[noahk@noahk ~ % brew install --head -s freecad --with-macos-app
Updating Homebrew...
==> Auto-updated Homebrew!
Update

[2021-08-04 10:55] sundtek commented on #187
brew upgrade nglib -s
==> Upgrading 1 outdated package:
freecad/freecad/nglib v6.2.2007 -> 6.2.2101
==> Upgrading freecad/freecad/nglib
  v6.2.2007 -> 6.2.2101

==> Cloning https://github.com/ngsolve/netgen.git
Updating /Users/markus/Library/Caches/Homebrew/nglib--git
==> Checking out tag v6.2.2101
HEAD is now at 5e489319 Merge branch 'fix_csg2d' into 'master'
HEAD is now at 5e489319 Merge branch

[2021-08-04 17:17] ipatch commented on #187
thanks for the updates. i'll spend some time later this afternoon looking into this. i'll report back and hopefully i can updated the affected formulae files. 🤞

[2021-08-04 18:23] ipatch commented on #187
i have a bigsur vm setup, so i'll get some bottles generated for big sur, but it'll take a few to get a catalina vm setup to get bottles going for it. so stay tuned please.

[2021-08-04 19:01] ipatch opened #189 "migrate tap bottles to a github release"
- [x] take existing bottles from my local fork and publish bottles on upstream repo
- [x] migrate all bottles from existing TLD to a published github release.
- [x] fix/build bottles for _coin_ & _nglib_ on big sur & catalina
  - [x] specific to me 🙋‍♂️, setup a catalina vm, so i can build a bottles of _coin_ & _nglib_ for catalina.
  - ✅ setup a **catalina** vm yesterday built a coin@4.0.0 bottle

[2021-08-04 19:43] sundtek commented on #187
FreeCAD 0.20 works again here (Catalina)

[2021-08-04 23:08] ipatch commented on #189
pr #190 updates a majority of the formulae files within this repo to use the github release i published earlier today, and also the release houses the links for the bottles

- mojave
- catalina
- big sur _x86_64_ (presently do not have access to a m1 mac)

[2021-08-05 02:17] sundtek commented on #187
well most of FreeCAD works but... I saw following in the freecad log:
10:09:34  Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python3.9/site-packages/shiboken2/files.dir/shibokensupport/__feature__.py", line 142, in _import
    return original_import(name, *args, **kwargs)
  File "/Users/markus/devel/freecad/build/Mod/MeshPart/MeshFlatteningComman

[2021-08-05 10:45] sundtek commented on #187
@ipatch can you fix the shiboken2 link?

[2021-08-05 10:46] dirkolbrich commented on #189
As of 2021-08-05:12:44 CEST download of coin Big Sur bottle still returns 404 error:

[code]

[2021-08-05 10:47] dirkolbrich commented on #187
See https://github.com/FreeCAD/homebrew-freecad/issues/189#issuecomment-893358081

[2021-08-05 11:09] dirkolbrich commented on #189
same 404 error holds for tbb bottle

[code]

[2021-08-05 11:26] dirkolbrich commented on #189
There seems to be a URL issue:

The linked bottles under the Release page at https://github.com/FreeCAD/homebrew-freecad/releases/tag/07.28.2021 are downloadable. Some of these bottles have an additional `.1` before the file ending `.tar.gz`.

Link listed in brew
https://github.com/freecad/homebrew-freecad/releases/download/07.28.2021/coin%404.0.0-4.0.0_1.big_sur.bottle.tar.gz

Link listed on Rele

[2021-08-05 11:42] dirkolbrich commented on #187
URL issue on download links within brew setup vs hosted file -> https://github.com/FreeCAD/homebrew-freecad/issues/189#issuecomment-893381430

[2021-08-05 13:11] ipatch commented on #189
yup, i started working on this last evening, and will try and have all the bottle names updated accordingly. i posted a question about bottle naming [here](https://github.com/Homebrew/discussions/discussions/1945), but haven't gotten a reply yet.

so i need to change `--` to `-` and remove the `.1` in the names.

stay tuned, i'm working on a `sed` expression to do a batch rename of the files.

[2021-08-05 13:13] ipatch commented on #187
@sundtek yeah i'll get to hear sometime today 🤞

first, i'm making sure all bottles are accessible via the release i published yesterday.

[2021-08-05 19:37] ipatch commented on #189
just removed `brew remove ...` all formulae from tap on macos mojave. then reinstalled all formulae from tap, and it appears all bottles download and install on macos mojave. so a little progress on that front.

built a bottle for coin@4.0.0 for big sur. uploaded to the release i published, so doing

[code]

should download and install coin@4.0.0 from the bottle if one so chooses, and building fro

[2021-08-05 20:54] ipatch commented on #189
most if not all **big sur** bottle issues should be resolved now.

onto catalina 🛶

[2021-08-06 10:28] dirkolbrich commented on #189
Downloading of bottles on Big Sur is fixed now. But at the end of the installation process, there is an `Error: SHA256 mismatch` for the `freecad/freecad/vtk@8.2.0` bottle:

[code]

[2021-08-06 18:18] ipatch commented on #189
@dirkolbrich

i ran into that sha256 mismatch issue myself. i uninstalled vtk and then reinstalled without any issues. not sure it was a diff that was left around from a prior installation. and i double check right now to make sure that it downloads and installs as it should. but basically i did the below

[code]

followed by

[code]

---

...

okay so those patches are specific to building vkt@8.

[2021-08-06 19:25] #187 closed

[2021-08-06 19:30] ageeye opened #196 "Formula Elmer"
Which opportunities afforded Elmer. How is it available in FreeCAD?

[2021-08-06 21:38] ipatch commented on #196
pretty sure it provides additional solvers for working with the fem workbench. however did a quick search through the cmake build flags and didn't see a mention of it. all i noticed were,

[code]

[2021-08-06 21:40] ipatch commented on #177
so this an issue related to llvm.

i'll pull in the latest upstream changes from freecad source see i can build with llvm 12 and save a file, and if it works i'll close this issue. otherwise i will leave it open.

[2021-08-06 23:52] ipatch commented on #177
i have llvm latest v12 installed and linked via brew. i set the below env vars to compile freecad from source.

[code]

and am unable to reproduce the crash on save at this time.

[code]

---

if anyone knows how to reproduce could you please share, or else i'm going to close this issue.

[2021-08-07 07:09] ageeye commented on #196
Thank you for your efforts.

[2021-08-07 07:11] ageeye commented on #177
@ipatch Please test:
`freecad -t 0 `

Crashed your freecad at end of testing?

[2021-08-07 16:08] ipatch commented on #189
the below commit should have all the fixes for getting bottles working on

- big sur
- catalina
- mojave

if there any issues with the current batch of bottles please open a new issue.

thanks ipatch.

[2021-08-07 16:08] #189 closed

[2021-08-07 16:16] ipatch commented on #177
wow, that's neat.

did not know about the `-t` flag for the `FreeCAD` cmd(s).

i'll take a look this. thanks for the heads up.

[2021-08-07 17:26] ipatch commented on #186
PRs #190 through #198 should resolve this issue.

if an issue with a bottle arrises. please open a new issue.

[2021-08-07 17:26] #186 closed

[2021-08-07 17:44] ageeye commented on #196
`==> Cloning https://github.com/ElmerCSC/elmerfem.git
Updating /Users/bal/Library/Caches/Homebrew/elmer--git
==> Checking out revision c40a03f2d0c77fa66afa7a476e8981fa8b7d74ac
HEAD is now at c40a03f2 Better naming for cyclic restart
HEAD is now at c40a03f2 Better naming for cyclic restart
Entering 'contrib/Zoltan_v3.83'
/Users/bal/Library/Caches/Homebrew/elmer--git/contrib/Zoltan_v3.83
Error: Oper

[2021-08-07 19:37] ipatch commented on #196
yes the elmer formula file was checked in to the repo at some point, but was never constructed properly to actually build elmer. there's some notes on the official elmer github repo page for building elmer non gui and gui. there are also some youtube videos where the demonstrates how to build elmer.

if you want to update the formula file so elmer can build and install properly send PR through and

[2021-08-08 02:45] vejmarie commented on #196
hi @ipatch what are the error you see with the elmer formula, it works on my mac ;) and for some elmer people in singapor

[2021-08-08 03:32] ipatch commented on #178
does not seem to be issue anymore.

closing now. if i run into this issue down the road i'll open another issue.

[2021-08-08 03:33] #178 closed

[2021-08-08 03:36] ipatch commented on #196
@vejmarie

[code]

[2021-08-08 03:41] ipatch commented on #196
i was messing around with the formula the other day, when i was working through all the style fixes, and this is what i came up with that would install. it's non gui version of the installation.

https://github.com/ipatch/homebrew-freecad/blob/aeb402769163372510e1780eddfac2901fbd10ff/Formula/elmer.rb

[2021-08-08 07:38] ageeye commented on #196
`cd ~/Library/Caches/Homebrew/elmer--git
git submodule update --init
objc[1305]: Class AMSupportURLConnectionDelegate is implemented in both /usr/lib/libauthinstall.dylib (0x20a0e3ad8) and /System/Library/PrivateFrameworks/MobileDevice.framework/Versions/A/MobileDevice (0x113e242b8). One of the two will be used. Which one is undefined.
objc[1305]: Class AMSupportURLSession is implemented in both /

[2021-08-08 07:51] dirkolbrich commented on #189
Thank you for your effort. It seems to work all now.

A note: For the next iteration of updates maybe rename the download URL according to ISO-8601 date format YYYY-MM-DD.

So instead of:
[code]

better to use:
[code]

[2021-08-08 16:30] ipatch opened #199 "qt5 build time issues"
attempting to build freecad (using the latest git source) **not using the provided formulae** on macos big sur. i'm using the standard clone the freecad git repo. then create a build dir followed by cmake, make, make install.

i'm running into some issues with finding some qt5 dependencies.

i noticed on macos mojave box i've ran the below command at some point (looking through my shell history)

[2021-08-08 17:53] ipatch commented on #199
okay, probably should've done a search before opening this issue, nonetheless, it seems i'm running into [this issue][1]

[1]: <https://github.com/Homebrew/homebrew-core/issues/8392>

and properly setting the `CMAKE_PREFIX_PATH` bumps the cmake process further.

[code]

[2021-08-08 17:53] #199 closed

[2021-08-08 18:01] ipatch commented on #160
closing this issue, as the topics discussed deviated to several issues not related to the original issue opened.

as for _sha256sum mismatch_ errors, all of those issues should be resolved with the [latest bottle release i published][1] a few days ago. if there are any future _sha256sum mismatch_ issues please open a new issue.

as for updating the _repo/tap_ with CI, that is definitely in the pip

[2021-08-08 18:01] #160 closed

[2021-08-12 16:08] ipatch commented on #63
i've spent some time working on getting auto bottling going for this tap using github actions. i've definitely run into some roadblocks however.

1. the default homebrew _test-bot_ can only build a bottle for catalina at the moment. ie. homebrew-core uses it's own _self-hosted_ runner to build bottles for the last three major OSes. [learn more][1]
2. i definitely have a better understanding of usi

[2021-08-14 18:57] ht55ght55 commented on #177
Apple Silicon, anyone?

[2021-08-14 19:06] ipatch commented on #177
me 🙋‍♂️, personally do have access to an M1 mac, so i could not build bottles for m1 unfortunately. and github actions does not have an m1 environment yet.

so you'll more than likely have to build all the deps from source, then you'll be able to build freecad.

cheers

[2021-08-18 15:36] ipatch commented on #63
hey a little heads up to the people watching this repo, ie. the people who've clicked the little _watch_ button in the upper right of the github interface.

i'll be checking in two workflow files sooner rather than later, and start the process of auto building the bottles for the last three major revisions of macos for the x86_64 platform.

however, if you've clicked the _watch_ button you'll more

[2021-08-21 21:38] ipatch commented on #63
it looks github took macos 11 out of preview and has officially released it. so github now supports catalina and big sur, which is good.

https://github.com/actions/virtual-environments/issues/2486#issuecomment-899752373

[2021-08-22 19:09] ipatch commented on #63
this is the current road block i'm running into 🤷‍♂️

https://github.com/Homebrew/discussions/discussions/2028

[2021-08-23 04:51] ipatch commented on #63
wow this has been quite an adventure. just now got the first bottle published for this repo, ie. swig using github actions ci/cd and the releases.

one down, and 25 to go.

things will get more interesting once i start running to python and python related releases.

[2021-08-25 05:48] ipatch commented on #63
_leaving this for future me 👴🏼_

if we (tap maintainers) decide to stick with a specific version of python ie. `python@3.9` then pretty sure all sorts of conflicts are going to arise, and using upstream python will more than likely cause some excessive friction with warp speed 🛸 that homebrew updates it's packages.

so _figures crossed_ i'm going to try and stick with `python@3.9.6` which will hop

[2021-09-07 08:27] cowboyd opened #237 "Problem with BOOST version installing `freecad --HEAD --with-macos-app` on BigSur"
Trying to build from source yields this error:

[code]

[code]

Here are the contents of the brew lockfiles. If I run `brew cleanup` in between to clear out the old lockfiles, it still happens.

[code]

[2021-09-07 12:47] bblacey commented on #237
Two observations:

1. In order to build from source, you have to pass the `--build-from-source` option to the `brew install` command
2. It seems that you may have had another `brew` session active in a separate terminal window or in the background.  You need to stop/kill that process first.  You can use `ps waux | grep brew` to display all brew processes in terminal

[2021-09-08 06:51] cowboyd commented on #237
Hi @bblacey, and thanks for the quick response!

It did occur to me that perhaps there was another brew process running that was getting in the way, and so I checked that there were no `brew` and no `ruby` processes running. I even went so far as to reboot my computer in case there was a process hanging out that I couldn't see. After taking all those measures (and running `brew cleanup`) in betwee

[2021-09-14 19:16] ipatch opened #238 "importing `step` file libfreetype error"
downloaded the dmg from the releases section of the repo,

https://github.com/FreeCAD/homebrew-freecad/releases/tag/07.28.2021

https://github.com/FreeCAD/homebrew-freecad/releases/download/07.28.2021/FreeCAD-0.20-25356.dmg

needed to work with an existing step file, and when i tried to open/import the step i got the below error message. _see attached image_

![image](https://user-images.githubuse

[2021-09-14 19:18] #238 closed

[2021-09-26 10:28] ES-Alexander commented on #237
Any luck on solving this @cowboyd?

I'm running into the same issue trying to follow the [Compile on MacOS](https://wiki.freecadweb.org/Compile_on_MacOS) instructions (also on Big Sur). I've also tried
- `brew cleanup`
- restarting my computer
- checked for any running processes, and
- the options in [this stackoverflow post](https://stackoverflow.com/questions/39797078/another-active-homebrew-pro

[2021-09-27 07:20] cowboyd commented on #237
@ES-Alexander Nope, no luck. I had to give up :'-(

[2021-09-27 07:28] ES-Alexander commented on #237
Damn. Thanks for getting back at least :-)
I was hoping to take a crack at fixing the Mac touchpad support, but can't exactly do that if I can't compile.

Hopefully someone else is able to make some recommendations to fix the dependency issues. Seems a shame to be thwarted by a build error before even getting to try making changes.

[2021-09-27 07:35] ES-Alexander commented on #237
@ipatch excuse the intrusion, you've been super active with homebrew-freecad PRs lately - any ideas on how to get around this build issue? :-)

[2021-09-27 15:22] ipatch commented on #237
@ES-Alexander

yeah i don't mind. i'll see what i can come up with. if i find / fix anything i'll post back with another comment.

[2021-09-27 23:59] ipatch commented on #237
so i had  sometime today to mess around with issue. i setup a completely new user on macos big sur vm.

`$USER` = `microbrewer` and setup homebrew within the `$USER` dir, ie. `/Users/microbrewer/homebrew`

and ran into the below issue with the following command,

[code]

[code]

i'm able to get around this error by manually specifying boost and boost-python, ie. running the below commands,

[code]

[2021-09-28 03:22] ES-Alexander commented on #237
@ipatch Unfortunately didn't solve the issue for me, although it did seem to install `boost-python3@1.75.0`. I'm intrigued that you're using `--ignore-dependencies` (which I get a warning about as "an unsupported Homebrew developer flag"), whereas the command from the macos compile docs uses `--only-dependencies`, which I believe is intended to install just the dependencies so that freecad can the

[2021-09-28 12:47] cowboyd commented on #237
Thank you for posting the workaround, but sadly, though both packages installed successfully, it did not work.

[2021-09-28 16:45] ipatch commented on #237
@ES-Alexander

yeah i had my wires crossed when i typed that out. thanks for catching that.

[2021-10-20 04:00] stepheneb commented on #237
Having the same problem:

[code]

[2021-11-01 11:04] ageeye commented on #177
By the way, llvm is now at 13 and with this version I do not get trouble by the saving process.

[2021-11-01 18:00] ageeye commented on #177
But llvm@13 deeps on python@3.7. So we need own formula. Never ending story.

[2021-11-02 23:16] stepheneb commented on #237
I'm not getting the `Operation already in progress` error anymore.

[code]

There error appears to be in this linker step:

[code]
Which seems to perhaps be related to: `fatal error: 'GL/gl.h' file not found`:

I only see one instance of `GL/gl.h` on my system.

[code]
file: freecad/Build/CMakeFiles/CMakeError.log
[code]

More detail from the original log:
[code]

Here's the cmake summary report:

[2021-11-05 09:55] neurodigitaltechnologies opened #258 "Problem with Pyside2 sha256 mismatch, building from sources on Apple Silicon Monterey"
I have this problem when trying to build it against Apple Silicon on Monterey:

The main issue is I cannot find where that especific sh256 is in any formula inside homebrew-freecad.
Any way to solve this, please?

**brew tap --HEAD Freecad/freecad
brew install Freecad/freecad --HEAD --build-from-source --verbose**

==> Downloading https://codereview.qt-project.org/gitweb?p=pyside/pyside-setup.git;

[2021-11-05 17:15] ipatch commented on #258
i don't have access to M1 machine, so it's difficult for to test issues specific to M1. since there are only bottles for amd64 / x86 processors at the moment. it might be that when you attempt to install freecad it's downloading the dependencies for freecad ie. `pyside2` there could be a invalid sha256sum for the pyside2 tarball. i'll investigate this and see what i can find.

[2021-11-09 04:49] vidmik commented on #258
I'm also seeing this issue. FWIW the "Actual" checksum seems to be different on every retry.

[2021-11-09 16:31] ipatch commented on #258
thats some good detective work there. 👍 i bet if you look at the upstream pyside@2 formula theyll have the correct path to the targz file that uses the same shasum.

all that said, im presently afk for the next few hours but if you want to send a pr with an updated url i can def merge it in. thanks again for the detective work. 🙏

---

im still banging my head with app bundling issues, ...getting

[2021-11-09 22:16] jbaehr commented on #237
@stepheneb How did you get around this? I'm still facing this error when trying to setup a freecad build environment (nb: on macos 10.14; I know, unsupported by homebrew, but the issue seems to appear on more recent systems too).

@ipatch commands for installing boost-python manually worked flawless, but then (even after `brew cleanup`), I have the same symptom as @cowboyd and @ES-Alexander:
[code

[2021-11-09 23:27] ipatch commented on #237
@jbaehr

presently i'm building freecad using a git clone of the freecad source. and am using homebrew to install the deps required for freecad to compile, but i do not install freecad using a

[code]

i'd like to get the freecad formula fixed up so that it can be installed with above such command and create the drag and drop app bundle.

i've worked on some fixes for the formula locally but haven

[2021-11-09 23:34] ipatch commented on #258
did y'all attempt to install pyside2 from this tap again, after i merged the below PR?

https://github.com/FreeCAD/homebrew-freecad/commit/60dbd3da49393ff6431ac06c93fdcfe2d704580e

[2021-11-09 23:45] vidmik commented on #258
I'm new to homebrew and tap so ELI5: anything in particular I need to do to get the latest change? Simply running `brew install --only-dependencies freecad --with-packaging-utils` still leads to the same checksum mismatch problem. This is on macOS 12 (Monterey) if that matters..?

[2021-11-10 00:04] ipatch commented on #258
homebrew-core provide the pyside2 package as well. for the moment there are quite a few issues that need to be resolved in order to install freecad from using `brew install freecad` so probably not what you wanna here, but you could try to install the dependencies individually until i or somewhere can work through the issues.

[2021-11-10 00:06] vidmik commented on #258
Understood. Let me know if there's anything specific you want me to try.

[2021-11-10 00:41] vidmik commented on #258
FWIW `brew install freecad/freecad/pyside2 -s --verbose` completes successfully, and I do indeed have the latest/greatest master changes (385 commits).

IIUC the source url in the shiboken2.rb file still needs to be updated to something stable, correct? If so, it's not immediately clear to me why it's not using the same url as shiboken2@5.15.2.rb - after all they both appear to refer to 5.15.2. Th

[2021-11-10 05:48] vidmik commented on #258
Because I'm notoriously bad at giving up on technical challenges I decided to update the url and checksum fields to the same ones used in `shiboken2@5.15.2.rb` and that does seem to get me past the checksum issue. 🎉

Next up I'm running into the boost issue (#237).

[2021-11-10 06:54] neurodigitaltechnologies commented on #258
Hi @vidmik and @ipatch
The problem is that although you solve the thing related to shiboken, as you are identifying, then we have the thing with "boost on [https://github.com/FreeCAD/homebrew-freecad/issues/237](url).
I modified all .rb Formulas to switch from local versions of the formulas AKA (./$Formula) for home-core or "vanilla" versions. We must do this change recursively across all dependen

[2021-11-10 06:55] neurodigitaltechnologies commented on #237
Hi @vidmik and @ipatch

I modified all .rb Formulas to switch from local versions of the formulas AKA (./$Formula) to home-core or "vanilla" versions. We must do this change recursively across all dependencies.

**For example:**
In Freecad.rb, changing ".boost@1.7.5" with "boost" will use the untouched and latest version from the core.
This eventually works till we face nglib. It's not compiling d

[2021-11-10 08:28] vidmik commented on #237
Disclaimer: I'm still learning all the homebrew concepts etc. so excuse me if I butcher the terminology or sound confused (I am).

I started doing pretty much exactly that - use the homebrew-core versions - and ended up on a tangent trying to get gcc to work. The reason, I think, is that I decided to perform the experiment in a separate, non-standard homebrew prefix/directory (*not* `/opt/homebrew

[2021-11-10 23:05] vidmik commented on #237
In the spirit of not really knowing what I'm doing - try this:

[code]

[2021-11-10 23:43] vidmik commented on #237
With that patch applied to `nglib.rb`, and all the other changes to the Formulae I then ran into https://tracker.dev.opencascade.org/view.php?id=32328 which I worked around by simply including the additional header file:

[code]

With that fix applied the freecad build completed successfully and when I run `/opt/homebrew/bin/FreeCAD` the GUI starts up, but there are some `No module named "PySide2"

[2021-11-10 23:56] vidmik commented on #237
Running `FreeCad -P /opt/homebrew/Cellar/pyside@2/5.15.2_1/lib/python3.9/site-packages` starts up the UI successfully and everything seems to be working. That said, I've never used freecad before so I'm not sure I would know if it works as expected or not :)

[2021-11-11 00:23] neurodigitaltechnologies commented on #237
Hi @vidmik!
Wow, many thanks for the investigation.
How do you apply the patches? I mean, you out all of this in the terminal? You create a .diff file? On that case, how do you apply it?
Regarding pyside2, check you hadn’t pysideat2 or puside@2 in formulas.
Kindest!

[2021-11-11 00:31] vidmik commented on #237
For the `ShapeUpgrade_UnifySameDomain.hxx` change I just opened the file - `/opt/homebrew//Cellar/opencascade/7.5.3/include/opencascade/ShapeUpgrade_UnifySameDomain.hxx` in my case - in my favorite editor and added that `#include` line. The Right(tm) way to fix it would probably be to either get a newer version of the opencascade source where that issue has been fixed, or apply a patch as part of

[2021-11-11 00:38] neurodigitaltechnologies commented on #237
Thanks! I was asking about the patches or diff files for nglib, etc. you put the content of the diff but; how do you apply it? What’s the step by step to apply these patches?
Many thanks in advance.

[2021-11-11 00:50] vidmik commented on #237
Oh, that's also something I just changed directly in the homebrew-freecad tap file using an editor. Open up `/opt/homebrew/Library/Taps/freecad/homebrew-freecad/Formula/nglib.rb` and make those changes manually. Alternatively, you can store the patch in a file, say `~/nglib.rb.patch`, and do something like:

[code]

[2021-11-11 05:57] stepheneb commented on #237
@jbaehr,

Am now trying to build FreeCAD from source using the homebrew freecad formula to install dependencies.

Documented and more complete results here:

Building FreeCAD from source using homebrew freecad formula to install dependencies
https://gist.github.com/stepheneb/9bb11a53923df9795de236d438a3c155

Am stuck with errors building src/Base/CMakeFiles/FreeCADBase.dir/Builder3D.cpp.o

[code]

[2021-11-11 18:20] ipatch commented on #237
@vidmik

i believe you can test most features of your build using the below steps (probably should add this to the README)

you can `cd` into the directory where you build FreeCAD depending if you built freecad as a mac app bundle or not, but give the below command a try

[code]

it should take a minute to run through the various tests. you can see some output that it show in the below two links i

[2021-11-11 18:35] vidmik commented on #237
Looks like the vast majority of the tests pass:

[code]

I've also spent a few more hours playing around with FreeCAD and I have still have not run into any issues.

[2021-11-14 01:21] ipatch commented on #237
this is something i have run into when attempting to build freecad using `brew install freecad` however when building from a normal CLI, using the `cmake, make, make install` i generally do not run into this issue. either way i'll work on a patch to fix this, in hopes of getting `brew install freecad` going where it should be.

---

on a side note (forgive for hijacking this thread) i downloaded t

[2021-11-14 17:39] neurodigitaltechnologies commented on #237
Hi @ipatch!
Wonderful news your active support!

So then, after your commits, are we able to compile Freecad for Apple Silicon on Monterey with "brew install freecad --HEAD --with-macos-app" after brew tap Freecad/freecad?

I'm just waiting to your signal to start compiling it!
Many thanks in advance.
Kindest,
Luis.

[2021-11-16 06:46] stepheneb commented on #237
See WIP pull request: #264, `fix "Another active Homebrew process ..."`

[2021-11-16 16:50] stepheneb commented on #237
@neurodigitaltechnologies , In my pull request, #264, I converted the form of the dependency paths from relative to absolute scoped to the tap ... which now allows this invocation to compile successfully. There is still a problem when the formula tries include the python dependencies from `site-packages` when packaging it all up into an app.

`brew install freecad --HEAD --with-macos-app --build-f

[2021-11-16 17:49] stepheneb commented on #237
@vidmik

Another change I made in #264 was fixing the generation of some of the `prefix_paths`.

This code: `(Formula["#{@tap}/opencascade@7.5.0"].opt_prefix + "/lib/cmake;"))`
generated this path: `/lib/cmake;`

Updated to: `(Formula["#{@tap}/opencascade@7.5.3"].opt_prefix/"lib/cmake;")`
generates: `/usr/local/opt/opencascade@7.5.3/lib/cmake;`

[2021-11-17 07:39] stepheneb opened #267 "add netcdf.x.y.z?? -- vtk@8.2.0 appears to require netcdf/lib/libnetcdf.18.dylib (pyside2 will not compile with python3.10)"
I've made a bunch of progress getting `cmake --install .`  to complete successfully (outside of the formula but using all the dependencies it generates). Am now stuck because I'm pretty sure that vtk@8.2.0 needs `netcdf/lib/libnetcdf.18.dylib` -- but the current brew netcdf generates `libnetcdf.19.dylib`.

Here's the error in the console (I've added some extra logging in `src/tools/MakeMacBundleRe

[2021-11-17 18:43] ipatch commented on #267
homebrew provides a lot of little diagnostic commands a couple useful ones in this case are,

[code]

and there are several other commands for exploring all things homebrew try

[code]

will print a list of all the commands available to homebrew

[2021-11-19 17:49] ipatch commented on #177
FWIW i've been working on updating the `freecad.rb` formula, an am able to do

[code]

and generate a "working" `FreeCAD.app` bundle, however i'm getting this crash on save error now (again) with the newly created `FreeCAD.app` bundle i've created using `brew install` this is about 1 or two things I need to get sorted out then i'll send my PR to the CI/CD in hopes of updating the `freecad.rb` form

[2021-11-29 16:13] ipatch commented on #177
adding this for those who follow the upstream bug tracker.

https://tracker.freecadweb.org/view.php?id=4643

[2021-12-01 20:30] ageeye commented on #177
I am excited about.

[2021-12-02 19:41] ipatch commented on #164
still working on trying to get `brew install freecad` to _just work™️_ as a _batteries included 🔋🔋_ type of install. pretty much have most if not all the build time issues resolved. i'm working through the run time issues presently, and have been running into issues getting the install process to properly recognize a pyside2 installation. until then i'm holding on removing any of the excess formul

[2021-12-06 18:15] ipatch commented on #153
since the local tap (homebrew-freecad) pyside2@5.15.2 and the upstream (homebrew-core) version of pyside@2 are keg-only there shouldn't 👀 be any problem with having both versions installed as they are not symlinked into the `$(brew --prefix)`.

however isseues will arise if one is symlinked and one tries to link the other version into the `$(brew -prefix)`. homebrew however provides helpful comman

[2021-12-06 18:15] #153 closed

[2021-12-10 15:14] ipatch commented on #164
i'm closing this issue as `brew install freecad` now creates a relocatable `FreeCAD.app` will open a new issue related to the bundling of the pyside2@5.15.2 dependencies. and will add a reference to this issue.

[2021-12-10 15:14] #164 closed

[2021-12-10 15:15] ipatch commented on #267
@stepheneb

you still running into this issue with the latest updates i've made in the past couple of days?

[2021-12-10 15:30] ipatch commented on #237
most if not all these issues should be fixed with PR #266 which should build a `FreeCAD.app` bundle on amd64 / x86_64 platforms. the CI even created bottles for catalina (the upstream homebrew  test-bot doesn't support mojave anymore 😢) and i haven't setup a Monterey vm yet to test and build FreeCAD and related deps yet.

i also removed the deprecated formula after updating the `freecad.rb` formul

[2021-12-10 15:33] ipatch commented on #258
this issue should be resolved at this point. please comment or reopen if issues arrises again.

[2021-12-10 15:33] #258 closed

[2021-12-10 15:38] ipatch commented on #63
closing this now, as most if not all formula within this repo have auto generated bottles using the provided github actions CI/CD to build bottles of the of the formula contained within this repo.

if there is a specific issue regarding a specific formula please open a new issue, but if there is a overall general issue / comment feel free to leave one below as i'm not opposed to reopening this iss

[2021-12-10 15:38] #63 closed

[2021-12-10 15:41] ipatch commented on #196
pr #274 should fix issues related to building elmer, qwtelmer, and opencamlib.

if there are any new issues or existing issues i have missed feel free to comment in this issue or even better open a new issue so we can begin a new discussion about elmer build / run related issues.

[2021-12-10 15:41] #196 closed

[2021-12-10 15:50] ipatch commented on #175
this issue should be resolved with PR #266

if this issue still present please comment below and i will reopen.

[2021-12-10 15:50] #175 closed

[2021-12-10 16:00] ipatch opened #278 "freecad mac app bundle ie. `FreeCAD.app` runtime issue, cannot find the runtime dependency pyside2"
presently running `brew install freecad` should either install freecad from one of the provided bottles for catalina or big sur. if running a different OS ie. mojave or monterey then freecad will have to be build from source locally.

so depending how the dependencies are setup ie. `pyside2@5.15.2` freecad will fail to load the pyside2 runtime dep when launching the FreeCAD gui when double clickin

[2021-12-10 16:03] ipatch commented on #278
error messages after launching the `FreeCAD.app` GUI

[code]

[2021-12-10 16:04] ipatch commented on #278
https://github.com/FreeCAD/homebrew-freecad/issues/164#issuecomment-984944471

[2021-12-10 16:08] ipatch commented on #278
![image](https://user-images.githubusercontent.com/613805/144491280-16f613fd-71a3-4fdb-b70e-c0412c6a9f90.png)

[2021-12-22 09:03] neurodigitaltechnologies commented on #278
Hi @ipatch,
Any updates so far on this issue, please?
Many thanks in advance for all your support and hard work on this.
All the best,
Luis.

[2021-12-22 18:16] ipatch commented on #278
i haven't done any work with the freecad tap or specifically this issue in a week or so. the holidays caught up with me so my time has been limited.

if you're trying to install freecad using the tap provided formula ie. `freecad.rb` then a possible work around would be the below

install all the freecad dependencies first

[code]

manually link pyside2@5.15.2 and shiboken2@5.15.2

[code]

then bu

[2021-12-30 04:30] stepheneb commented on #267
@ipatch I just tried the master branch and running this command invocation:

`$ brew install --HEAD freecad --with-no-macos-app`

Appeared to fail building Shiboken2-5.15.2

[code]

[code]

[2021-12-30 18:18] ipatch commented on #267
i'm testing the command you ran above,

[code]

so give me a second and i'll report back with my results, but looking at your output,

[code]

...taking a shot in the dark here 🏹🦮🎯 it may be related to you having _python@3.10_ linked and you could be possibly building deps against that version whereas this tap is setup to use _python@3.9_

so you could try and link _python@3.9_ instead of _python@

[2021-12-30 18:30] stepheneb commented on #267
python@3.9 is linked but there still seems to be an issue with: `Built with: '3.9' Detected: '3.10'`

[code]

[2021-12-30 20:02] stepheneb commented on #267
Interesting ... so even after uninstalling python 3.10 with brew there is some dependency pulling in python 3.10

Here's just the beginning of the verbose log output:

[code]

[2021-12-30 20:32] stepheneb commented on #267
Ahh .. it is caused by an upgraded llvm:

[code]

[2021-12-30 20:58] stepheneb commented on #267
Here are the elements in the full freecad dependency tree that pull in python@3.10:

1. coin3d  < pyside@2 < llvm < python@3.10
2. freecad/freecad/pyside2@5.15.2 < freecad/freecad/shiboken2@5.15.2 < llvm < python@3.10

[code]

It's easy to resolve the freecad/freecad/shiboken2@5.15.2 dependency to use llvm@12

[code]

But right now the formula adds a regular coin3d dependency, which pulls in pysid

[2021-12-31 02:06] vejmarie commented on #278
I am currently looking at it. My build is broken on Mac, and still try to figuring out from where it comes.

[2021-12-31 17:20] ipatch commented on #267
this may be another issue because you're building freecad to be launched from a CLI and not a mac app bundle.

https://github.com/FreeCAD/homebrew-freecad/blob/master/Formula/freecad.rb#L134

[2021-12-31 19:04] ipatch commented on #267
okay, i haven't messed around with this tap or building freecad from source in a while, so i checked out the `0.19.3` tag from the official freecad github source.

created a fresh build branch and a fresh build dir. kindof running through my cmake setup on my local catalina box and sure enough i'm running into the python 3.9 / 3.10 mismatch after using the below _MVP_ cmake setup

[code]

i usuall

[2021-12-31 22:30] ipatch commented on #267
https://github.com/FreeCAD/homebrew-freecad/runs/4676213903?check_suite_focus=true#step:13:146

[2021-12-31 22:35] ipatch commented on #267
seems like there may be a fix for this...

https://bugreports.qt.io/browse/PYSIDE-1436

[2022-01-01 01:25] vejmarie commented on #177
I think the current application bundle created by homebrew is totally broken. The size of the binary is about 780MB while it shall be in the 1.2GB range. It is missing a ton of dependencies. As mentioned by @ageeye. These dependencies were expected to be integrated into src/MacAppBundle/CMakeLists.txt and src/Tools/MakeMacBundleRelocatable.py into a PR but it never went through.I have the patches,

[2022-01-01 17:14] vejmarie commented on #278
This PR  #5316 in FreeCAD shall be helping a lot

[2022-01-01 20:09] ipatch commented on #278
https://github.com/FreeCAD/FreeCAD/pull/5316

[2022-01-01 22:11] ipatch commented on #267
https://bugreports.qt.io/browse/PYSIDE-1436?focusedCommentId=580150&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-580150

[2022-01-02 02:18] ipatch commented on #267
once the 2nd ci job finishes i believe this should give us a minimum viable version of shiboken2 that works with python 3.10

i haven't fully tested it yet, so feel free to build it on your box. also i assume pyside2 will also require some patching to get working and possible pivy and coin as well ☹️

but i guess the below is a start,

https://github.com/FreeCAD/homebrew-freecad/pull/285

[2022-01-02 05:48] stepheneb commented on #267
Yes, it looks like pyside@2 also builds Shiboken2-5.15.2 and is generating an error.

I realize that `--with-no-macos-app` might not work but I expect any errors caused by that argument to present themselves after this part of the build process.

[code]

[2022-01-03 19:29] ipatch commented on #267
i reported the issues with pyside2 upstream below,

https://bugreports.qt.io/browse/PYSIDE-1763

[2022-01-15 00:26] ipatch opened #290 "unable to load FEM workbench"
i've been using the dependencies provided by this tap along with other upstream homebrew deps to build freecad from git source using cmake. i've been going through trying to see what works and what doesn't, and something i can't seem to get to work / load is the FEM workbench.

the current version of freecad i'm using is,

[code]

i'm doing all this testing on a qemu _kvm virtual machine_ (probabl

[2022-01-15 20:50] ipatch commented on #290
https://wiki.freecadweb.org/FEM_Install#Installing_on_MacOSX

[2022-01-15 21:43] ipatch commented on #290
https://stackoverflow.com/questions/4506121/how-to-print-a-list-of-symbols-exported-from-a-dynamic-library

reading the answer in that question. it looks like macos provides the `libgcc_s.1.dylib` within the `/usr` dir, and with my current mac app bundling settings the python / cmakelists.txt scripts may be copying the macos provided version of the file and not the gcc version of the file due to a

[2022-01-16 01:56] ipatch commented on #290
yeah it appears my hypothesis seems correct. the mac app bundling process is grabbing the lib from the `/usr/lib` dir and not the one provided by homebrew **boo** 👎

[code]

[2022-01-16 03:21] ipatch commented on #290
[code]

---

i'll update the [patch file](https://github.com/FreeCAD/homebrew-freecad/blob/master/patches/freecad-0.19.2-mac-app-bundling.patch) to use the proper libraries provided by homebrew gcc instead of the Apple / macos provided lib.

[2022-01-16 03:32] ipatch commented on #290
#291 resolves the gcc bundling issues with loading the FEM workbench.

[2022-01-16 03:33] #290 closed

[2022-01-22 04:30] ipatch commented on #278
- [ ] is there a way to check if the _brew_ process ie. can  the install process (using the CI) be aware that it is being run in a CI?
	- [ ] if so, would it be possible to _run_ additional steps to perform the necessary linking for **pyside** & **shiboken2**

[2022-01-22 04:32] ipatch opened #292 "shiboken2 formula"
add appropriate license _description_ for the shiboken2 formulas contained within this repo.

[2022-01-22 20:22] ipatch opened #293 "freecad mac app bundle `FreeCAD.app` still reports 4 failing tests."
Recently built freecad from git source the other day using cmake to build freecad and bundled the dependencies provided by this homebrew tap. Then i decided to run the test suite of freecad to see how functional the app bundle ie. `FreeCAD.app` is.

the command i used to test the app bundle

[code]

the output of running the test suite can been seen below by playing the asciicast. the output can b

[2022-01-22 21:55] luzpaz commented on #177
@vejmarie ping

[2022-01-24 18:04] ipatch commented on #293
it appears adding a _cmake prefix path_ for the homebrew installation of _libyaml_, and adding the path to the `./src/MacAppBundle/CMakelists.txt` did not bundle the required yaml library for the freecad tests to pass.

however running the below command appears to have bundled and built a working `FreeCAD.app` bundle that is able to import the required _yaml_ lib in order for the tests to pass.

[

[2022-01-24 19:09] ipatch commented on #293
installed another python module,

[code]

[code]

it seems all tests are passing now. 🥳

i publish a release with the app bundle attached on the releases page of the repo. then time permitting i'll work on updating the freecad wiki compile on macos page.

[2022-01-24 19:09] #293 closed

[2022-02-05 02:51] deveshsnair opened #294 "Freecad not running on apple silicon"
Hi I can't get to install freecad on apple silicon the software is not downloading through homebrew also
<img width="682" alt="freecad issue" src="https://user-images.githubusercontent.com/38416612/152626190-fd2ac5fe-03b8-472b-b855-45979ab391eb.png">
.

[2022-02-05 16:29] ipatch commented on #294
hello, 👋

that's a really old version of freecad. if you're looking a ready made version and you have an M1 based CPU your best is to run a prebuilt `FreeCAD.app` apple app bundle from one of the two sources, and run the bundle via rosetta or compile freecad from source with certain QT components disabled until the upstream source has support for QT 6.2 (web engine)

[2022-02-05 16:32] ipatch commented on #294
https://github.com/FreeCAD/homebrew-freecad/releases/tag/0.20-27223.dmg

👆 that's a really recent bundle i created about a week ago. you'll have to edit one file to get the addon manager going but most if not all things should _just work™️_

there's an official conda release 👇 of freecad for mac as well, you're mileage may vary,

https://github.com/FreeCAD/FreeCAD-Bundle/releases

[2022-02-05 17:23] deveshsnair commented on #294
Cool, thanks!

DEVESH S NAIR

On Sat, Feb 5, 2022, 10:03 PM Chris ***@***.***> wrote:

[2022-02-05 17:29] ipatch commented on #294
closing issue. will/can reopen is need be. i hope one of those releases works out for you. 👍

[2022-02-05 17:29] #294 closed

[2022-02-08 18:52] ipatch commented on #292
https://github.com/FreeCAD/homebrew-freecad/pull/296

[2022-02-08 18:52] ipatch commented on #292
https://github.com/Homebrew/discussions/discussions/1970

[2022-02-08 18:53] ipatch opened #298 "add bottle support for macos mojave and high sierra"
attempt to add CI support for bottling dependencies for macos mojave and high sierra.

[2022-02-08 18:54] ipatch commented on #298
https://github.com/Homebrew/discussions/discussions/1970

[2022-02-08 18:56] ipatch commented on #298
https://docs.github.com/en/actions/learn-github-actions/environment-variables

[2022-02-09 19:52] ipatch commented on #298
following the above discussion and adding the below line to the `tests.yml` in this repo,

[code]

enabling `HOMEBREW_DEVELOPER` allows the self-hosted runner specifically mojave to build a bottle for swig,  but more importantly build a bottle for an officially unsupported version of macos. ie. mojave.

[2022-02-15 19:27] #292 closed

[2022-02-15 19:33] ipatch opened #301 "update readme to include link to weekly conda builds/releases"
for the life of me i can never seem to remember which repo in the freecad org contains the weekly conda build/releases. having a link to quickly navigate to the latest release would be beneficial for comparing/contrasting the published homebrew built `FreeCAD.app` release to the conda release. and also for other people who navigate here without knowing that there alternate build / releases of free

[2022-02-15 19:42] ipatch commented on #301
#302

[2022-02-15 19:42] #301 closed

[2022-02-21 17:54] ipatch opened #303 "`FreeCAD.app` apple app bundle does not include necessary SSL certs required for addon manager"
when building a `FreeCAD.app` (apple app bundle) using cmake, and homebrew as the dependency manager the final `FreeCAD.app` bundle will not be able to connect to github because `SSL` is required to connect and the current bundling technique does not bundle in  the necessary certs to make `https` requests (from what i can gather)

there is a work around, that allows the **addon manager** to work b

[2022-02-21 18:15] ipatch commented on #303
below is a link to a forum post i made on the cmake discourse

https://discourse.cmake.org/t/building-standalone-app-bundle-with-ssl-certs/5078

[2022-02-21 18:16] ipatch commented on #303
one way to go about setting up the `freecad.rb` formula to work with SSL can be seen below

https://github.com/ageeye/homebrew-freecad/blob/gift/Formula/freecad.rb

[2022-03-14 02:34] ipatch commented on #267
another thing to consider,

https://github.com/Homebrew/homebrew-core/issues/76621#issuecomment-1044984628

looks like getting python 3.10 support working with freecad and friends will aid with the above ☝️ mentioned issue as well.

[2022-03-28 17:22] luzpaz opened #304 "Latest HEAD is r28503 but the latest homebrew-freecad release r28286? (who not use HEAD?)"
@ipatch just saw this get released: https://github.com/FreeCAD/homebrew-freecad/releases/tag/0.20.28286-git-master

Thank for doing that. But I'm wondering why you're not compiling the latest HEAD?

CC @PLchris would you consider testing this build since conda is stalled?

[2022-03-28 17:32] ipatch commented on #304
this release is produced from a `git clone` of the main freecad/freecad master branch on github.

that revision was the tip of the head when i decided to build the mac app bundle at that time. these releases are manually assembled on various vm's i've setup to test freecad with. i'm **not** using `brew install freecad` to generate these releases at this time, as there are still some issues that ne

[2022-03-29 16:57] ipatch commented on #304
yeah i can, but give me a few. i'll try and publish an updated release by the end of the day. and for subsequent releases i can try and probably publish a new release ~ once a week. (looking like on sundays or something of that nature).

[2022-03-31 16:45] ipatch commented on #304
here you go.

https://github.com/FreeCAD/homebrew-freecad/releases/tag/0.20.28575-git-master

i'm gunna close this issue now. if a newer release is required just open another issue, or reopen and comment on this issue please.

[2022-03-31 16:47] luzpaz commented on #304
@plchris :point_up_2:

Thanks @ipatch !!

[2022-04-11 23:39] ipatch commented on #97
following the instructions on their README

[code]

yields

[code]

[2022-04-11 23:46] luzpaz commented on #97
Looks like they need hdf5 https://formulae.brew.sh/formula/hdf5

[2022-04-19 14:14] clyang commented on #278
I'm able to build app bundle by using this workaround. However, when I tried to run it, it shows the following error.

[code]

Is there any solution to this issue?

[2022-04-19 14:27] clyang commented on #278
Thanks for the prompt response!

I compiled it on my M1 laptop. After the successful build, here is my steps:
[code]

My `brew doctor`
[code]

`brew config`
[code]

[2022-05-12 18:39] ipatch opened #316 "qtwebengine arm support with qt v5.15.3 ...may be possible. 🤞"
surfing 🏄‍♂️ through the homebrew discussions i came across the below post,

https://github.com/Homebrew/discussions/discussions/1880

which contains the following link.

https://bugreports.qt.io/browse/QTBUG-85279?focusedCommentId=562355&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-562355

it may be possible to add qtwebengine support with the current qt v5.15.3

[2022-05-15 19:26] ipatch opened #317 "med-file, updates"
- update med-file to 4.1.1
- attempt to build against python 3.10
- see if it's possible to move away from szip ➡ hdf5

[2022-05-26 19:01] ipatch opened #318 "update OCC with updated cmake configure flag to resolve issue with surface WB"
update OCC with updated cmake configure flag to resolve issue with surface WB

https://github.com/FreeCAD/FreeCAD/issues/6200

[2022-05-26 19:16] ipatch opened #319 "sunset 🌄 matplotlib and friends formula in this tap"
https://github.com/orgs/Homebrew/discussions/3300

[2022-05-29 16:10] luzpaz opened #322 "Please make a v0.20beta release"
Which can be included in https://github.com/FreeCAD/FreeCAD/releases/tag/0.20beta1

[2022-05-29 17:26] ipatch commented on #322
sure give me a little bit. is there specific place you'd like me to upload the finished dmg?

[2022-05-29 18:55] luzpaz commented on #322
If you have permissions, then to https://github.com/FreeCAD/FreeCAD/releases/tag/0.20beta1
If not just ping me a URL to download it from and I can upload it there.

CC @donovaly (just keeping you in the loop)

[2022-05-30 17:07] ipatch commented on #322
don't have write permissions to that upstream releases page. feel free to attach the dmg i just uploaded

https://github.com/FreeCAD/homebrew-freecad/releases/tag/0.20beta1

[2022-05-30 17:12] luzpaz commented on #322
Thanks @ipatch!
Added to https://github.com/FreeCAD/FreeCAD/releases/tag/0.20beta1

Closing

[2022-05-30 17:12] #322 closed

[2022-05-30 21:36] ipatch commented on #317
https://github.com/FreeCAD/homebrew-freecad/pull/323

[2022-05-31 03:02] ipatch commented on #317
https://github.com/Homebrew/discussions/discussions/3318

[2022-05-31 19:31] ipatch commented on #317
https://github.com/FreeCAD/homebrew-freecad/commit/0c3b20b1cbbf7131ac1e909dd3c6b6f3ce46e44a

[2022-06-02 01:27] JohnOCFII commented on #322
Just FYI -- using @ipatch HomeBrew Beta release (28901) on my M1 Mac, the app runs well via Rosetta (at least Sketcher and PartDesign).  The Start page is fully populated.  The Mac "App Package" is 1.08GB and launches in about 6.6 seconds.  Using the recent weekly Conda build (28929) the Start page is blank.  The Mac "App Package" is 2.46GB and launches in about 8 seconds.

[2022-06-07 15:09] luzpaz opened #325 "Add/update FreeSpacenav libs (spacemouse support) in to downstream homebrew"
These libs are important for spacemouse support:

* https://github.com/FreeSpacenav/libspnav/ (this is in homebrew but needs to be bumped to v1.0)
* https://github.com/FreeSpacenav/spacenavd
* (lower priority) https://github.com/FreeSpacenav/spnavcfg

Can we get them added in to downstream homebrew?

<table>
  <tr>
    <td valign="top"><a href="https://repology.org/metapackage/libspnav/versions">

[2022-06-07 15:30] ipatch commented on #325
it looks like `spacenavcfg` is built on top of `spacenavd` (please correct me if i'm wrong) and spacenavd is not macos compatible

https://github.com/FreeSpacenav/spacenavd/issues/70

[2022-06-07 16:39] luzpaz commented on #325
Sorry, I didn't do my homework on that.

[2022-06-10 21:09] ipatch opened #326 "shiboken2 uninstall issue"
may be specific to my use case in how i'm using shiboken 2, but running `brew remove` on the shiboken2 formula in this tap appears to leave installed files that still left in the `(brew --prefix)`

[2022-07-01 11:56] luzpaz commented on #316
CC @realthunder @looooo just a heads up

[2022-07-02 18:20] ageeye opened #327 "FreeCAD 0.20 was released on 14 June 2022"
Stable point still to 0.19.3. This should be update to 0.20.0.

[2022-07-02 18:30] ageeye opened #328 "Homebrew update pyside & shiboken to 5.15.5"
Since some time the original qt@5 formula have been using. Now is this update to 5.15.5. This means that the following formula have to update shiboken & pyside2.

[code]

[2022-07-03 01:32] ipatch commented on #327
@ageeye

i'm not opposed to you being a maintainer of this tap if you want to work on some of these issues. i don't think i have the group permissions to add you as a maintainer, but i'm sure if you put a request in the forums someone could add you. also feel free to submit a PR if you'd like.

[2022-07-04 17:29] ageeye commented on #327
@ipatch

I will support you with PRs. Four-eye-principle is the best solution.

[2022-07-04 19:43] ipatch commented on #327
sure, sounds great. 🤓

[2022-07-06 13:42] ageeye commented on #328
@ipatch Currently I have no good env to test it. It was great, if you have time to test my PR. Or I will test it on weekend with system of my wife.

[2022-07-06 22:25] ipatch opened #330 "update readme with contributing section"
put some useful notes in the main readme file explaining nuances with submitting a PR and using the CI.

[2022-07-08 00:20] ipatch commented on #330
hopefully pr #332 should help clear things up when submitting PRs

[2022-07-08 00:21] #330 closed

[2022-07-08 00:46] ipatch commented on #319
see #333

[2022-07-08 00:51] ipatch commented on #319
additional formula that can use some deprecation

- nglib@6.2.2104.rb
- opencascade@7.5.0.rb
- pyside2.rb
- pyside2@5.15.2.rb
- pyside2@5.15.3.rb (requires the addition of a pyside2@5.15.5 formula)
- shiboken2@5.15.2.rb
- shiboken2@5.15.3.rb

[2022-07-08 01:18] ipatch commented on #327
started scaffolding out an update for this...

https://github.com/FreeCAD/homebrew-freecad/compare/master...ipatch:homebrew-freecad:ipatch.freecad.v0.20.0

[2022-07-08 20:32] ipatch commented on #327
when we make the switch for the 0.20 release in the freecad.rb formula we're either going to have to implement our own boost-python3 formula that relies on python 3.10.x and is synced with the same version as the boost in this case 1.79 or submit a PR for upstream boost-python3 to work with python 3.10.x or even better have it work with python 3.9 and 3.10

[2022-07-08 20:55] ageeye commented on #327
That's a good question. The last commit in the upstream of boost-python3 is less than a week old. I can't believe to stay at python@3.9 for no reason.

@SMillerDev Can you say something about the background. Thanks already.

[2022-07-08 20:59] SMillerDev commented on #327
Homebrew core dependencies are slowly moving to 3.10 but still need more work to ensure we don't introduce conflicts with mixed dependencies. But in your tap you can do whatever you want.

[2022-07-08 20:59] ipatch commented on #327
if you look at certain homebrew-core formula you'll notice some of them are setup to build against both python@3.9 and python@3.10 if you would get boost-python3 to build against both version of python that'd help.

[2022-07-09 14:02] ageeye commented on #327
Thanks for your very fast feedback. Two more questions. The dependencies are purely limited to the formula of Homebrew-core? That doesn't look so galactic at first glance:

[code]

What would the process be? Would it all be individual PRs? Then it's probably more work than it looks.

[2022-07-09 14:03] ageeye commented on #327
That sounds interesting. Do you have ad hoc an example?

[2022-07-09 14:06] SMillerDev commented on #327
It's a ton of work because any dependency that is also a dependency of something that depends on python@3.9 will need to be migrated at the same time.

[2022-07-09 15:15] ageeye commented on #327
This is what I analyzed above. I think we will first create our own formula.

[2022-07-09 22:52] ipatch commented on #278
little update on this issue. i think the simple solution to getting the cmake build process to properly locate the pyside2 installation is to prepend the pyside installation bin to the path while running cmake. i tested a couple of cases where i had the pyside bin directory prepended (top entry) in my `$USER` path and without. i get the following _snippet_ without the both entry...

[code]

when i

[2022-07-09 22:55] ipatch commented on #278
and i think this will help us  with keg only deps in the freecad formula ie. pyside2 being keg only because of it's upstream pyside6 counterpart, so if this works then hopefully `brew install freecad` will just work without having to manually link the keg only deps of shiboken2 and pyside2 🤞

[2022-07-10 21:21] ipatch commented on #328
@ageeye

noticed you submitted a PR to update the qt@5 formula in homebrew-core to support / patch the qtwebeninge cmake thing with the latest qt v5.15.5 tarball.

when you're building freecad, does your cmake _summary report_ show _Qt5WebEngineWidgets at 5.15.10_ because i reinstalled qt@5 via homebrew core this afternoon (july 10, 2022) so not sure if that's what i'm suppose to be seeing via you

[2022-07-11 04:45] ageeye commented on #328
@ipatch

Do you use revision 1 of qt@5? [This](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/qt@5.rb#L240-L242) should fix it. Other solution is [this](https://github.com/ageeye/homebrew-freecad/blob/gift/Formula/qt5155.rb#L115).

[2022-07-11 20:58] ipatch commented on #328
yes on my personal catalina box i see the revision number you reference, as seen below, and the sha256 sums match for the bottles.

https://github.com/ipatch/homebrew-core/blob/master/Formula/qt%405.rb

[2022-07-12 21:23] #328 closed

[2022-07-12 21:25] ipatch commented on #278
#335

should help in getting closer to having `brew install freecad` to just work without any manual unlink/link commands

[2022-07-13 08:43] dirkolbrich opened #336 "freecad/freecad/shiboken2@5.15.5 fails to install"
Here is the install command and error message:

[code]

latest python@3.10 version ist installed:

[code]

[2022-07-13 17:08] ipatch commented on #336
you mind posting the output of?

[code]

[2022-07-13 18:17] ipatch commented on #328
@ageeye

for reasons i don't know, my qt@5 installation use the latest version you submitted a while back with your PR to fix the version mismatch for qtwebengine is still showing a lot of references on my install of `qt@5` from the upstream bottle 🤷‍♂️

[code]

[2022-07-13 18:25] ipatch commented on #328
lulz from what i can tell after you made your @ageeye  change it seems that didn't dispatch a rebuild of the bottles from what i can see looking at the version history of the formula. 🧐 please correct me if i'm looking at this incorrectly.

[2022-07-13 18:44] ipatch commented on #328
https://github.com/Homebrew/homebrew-core/issues/105739

[2022-07-13 22:54] TristanDebrunner opened #337 "`shiboken2@5.15.2` install fails"
I am trying to `brew install --only-dependencies freecad` as described in the README, but the install fails at `shiboken2@5.15.2`.

I am running MacOS Monterey on a MacBook Pro with M1 Max.

Output of `brew install freecad/freecad/shiboken2@5.15.2`:
[code]

[2022-07-13 23:34] ipatch commented on #337
try installing `shiboken2@5.15.5` instead of `shiboken2@5.15.2`

[code]

unfortunately i haven't generated a shiboken bottle for that release/arch of macos so you'll have to build it from source for time being.

[2022-07-14 07:35] dirkolbrich commented on #336
homebrew is up to date and fine:

[code]

Could this be an Arm vs. Intel issue?

[2022-07-14 07:39] dirkolbrich commented on #336
building from source fails as well:

[code]

[2022-07-14 09:22] dirkolbrich commented on #336
the missing line ending it is -> https://forum.freecadweb.org/viewtopic.php?p=609954#p609954

[2022-07-14 17:59] ipatch commented on #336
okay, thanks for reporting that. i'll work on fixing the formula. oddly enough i don't think the missing line ending effected me on my system. i tried it on my local box (catalina) and a mojave vm. 🤷‍♂️ and it seemed to build with all three runners. so this is definitely an edge the CI did not pick up 🤦‍♀️ unfortunately for whatever reason.

thanks for reporting this issue to BTW. 🙏

[2022-07-14 19:18] TristanDebrunner commented on #337
I tried all the versions except `freecad/freecad/shiboken2-python3_10@5.15.2`, and they have all failed. Here's the 5.15.5 output:
[code]

I tried to look at the files mentioned in the error message, but haven't been able to find them.

[2022-07-14 23:37] ipatch commented on #336
attempted to fix this issue this afternoon with with #338

but reasons i don't quite understand the carriage returns are getting omitted after the PR is merged FWR.

i might have to make the patches an external to see if that resolves the issue.

forgive me for the present incompatibility. i'll work to get this resolved later.

[2022-07-15 20:14] ipatch commented on #336
try with pr #334

[2022-07-15 20:15] ipatch commented on #337
try with pr #344

[2022-07-16 01:34] TristanDebrunner commented on #337
That PR makes progress, I'm no longer erroring out on the patch step. The error is now in the make step, just like the original issue. I found this in the make log:
[code]

I went back and looked at the log from the 5.15.2 install, and it has the same error:
[code]

Is there a numpy requirement that I may not be fulfilling? Not sure if this gives you useful info about my system:
[code]

[2022-07-16 15:08] plaes commented on #337
https://numpy.org/doc/stable/release/1.23.0-notes.html?highlight=npy_array_updateifcopy#expired-deprecations

[2022-07-16 17:47] ipatch commented on #337
yeah thats what the patch file aims to resolve

- patch shiboken2 source tarball to be compatible with the numpy v1.23 api
- theres additional patch to allow the same tarball to build against python 3.10

both patches were inlined into the shiboken2@5.15.5

make sure youre attempting to install that version and not an older version of shiboken2

---

to complicate matters apparently some formattin

[2022-07-17 21:44] ipatch commented on #337
okay #345 should fix this, will require manually building of the bottles.

[2022-07-17 21:45] ipatch commented on #336
okay #345 should fix this, will require manually building of the formula, as the inline patch with CRLF has issues with the current CI unfortunately.

[2022-07-18 17:11] ipatch commented on #337
yeah, unfortunately until i or somebody else fixes the main `[freecad.rb](https://github.com/FreeCAD/homebrew-freecad/blob/6e973597e4063c32e7487c9d7dfa606a32517ab3/Formula/freecad.rb#L56)` formula file you'll have to manually build freecad using  cmake or install from a pre built binary package.

[2022-07-25 18:52] Vittorio1993 commented on #337
Did you manage to build it manually?

[2022-07-28 17:20] ipatch commented on #278
another little update on this. a quick way to see if shiboken and pyside are setup properly for a cmake build is to open a pythone repl

[code]

[code]

i was running into some edge cases yesterday where i was able to import PySide2 but was not able to load any of the accompanying qt modules.

i made certain that my shiboken2 and pyside2 installation are **not** linked.

i got a build going right

[2022-07-28 17:53] ipatch opened #348 "mac app bundling using cmake on m1"
my `FreeCAD.app` mac app bundle crashes on launch after using cmake, make install to build the bundle. below is the crash report i see after the bundle crashes.

[code]

**crash report**

[code]

@ageeye

you care to weigh in on this. i know you've been building app bundles with cmake on an m1?

[2022-07-28 18:04] ipatch commented on #348
https://gitlab.kitware.com/cmake/cmake/-/issues/21854

[2022-07-29 21:37] ipatch commented on #348
it seems there is a similar take on how mac app bundling is done, but the below approach uses a shell script instead of python but seems the project is making a m1 app bundle that works with m1 based macs.

https://github.com/apfelkraut/darktable/blob/9b672a2ab28a083c73ec5855d97b545d935d1f50/packaging/macosx/3_make_hb_darktable_package.sh

[2022-07-31 00:33] ipatch commented on #348
progress...

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/613805/182004687-ee6a25ae-b956-42df-b9a3-c385330d376c.png">

[2022-08-01 19:51] ipatch commented on #348
@ageeye

you care to share cmake commands you're using to build a self contained mac app bundle for `FreeCAD.app` ?

[2022-08-03 16:35] TristanDebrunner commented on #337
Sorry, I had some other stuff come up that slowed down this project.

I was able to take the list of packages that `brew install --only-dependencies freecad` would've installed, and `brew install` them individually, replacing 5.15.2 with 5.15.5. I got through most of the build, but ran into issues with [`MakeMacBundleRelocatable.py`](https://github.com/FreeCAD/FreeCAD/blob/0.20/src/Tools/MakeMacBu

[2022-08-03 17:02] ipatch commented on #337
good to know that i'm not the only person running into that issue. 👍

[2022-08-03 17:24] TristanDebrunner commented on #348
I'm running into the same problem. How did you get the app to open? Manually using `codesign`?

[2022-08-03 17:44] ipatch commented on #348
by not updating the loader paths for the bins and libs, but thus renders the app no relocatable.

[2022-08-03 17:55] TristanDebrunner commented on #348
ah. Is there a cmake option to skip that step?

[2022-08-03 18:17] ipatch commented on #348
not that i'm aware of.

[2022-08-07 19:15] ipatch opened #349 "swig, add a caveat section to formula"
`swig@4.0.2` should have a caveat section defined within the formula to let the user know the formula is _keg only_.

[2022-08-17 20:03] ipatch commented on #337
i believe me merging in the following commit should resolve the above mentioned issues,

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

if you run into any more issues feel free to comment on this issue or even open a new & separate issue.

[2022-08-17 20:03] #337 closed

[2022-08-17 20:06] ipatch commented on #278
feeling confident this issue should be resolved with the below commit

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

if anybody experiences any issues feel to search the open issues and leave comment if something comes up or if your issue is completely separate, please open a new issue.

i believe adding the below lines to the freecad.rb formula resol

[2022-08-17 20:08] ipatch commented on #336
have not run into this issue any longer withe latest commit,

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

if you're experiencing any more issues with `brew install freecad/freecad/shiboken2@5.15.5` please leave comment and i'll gladly reopen this issue.

[2022-08-17 20:08] #336 closed

[2022-08-17 20:11] ipatch commented on #327
with the below commit i'm pretty confident in saying `brew install freecad/freecad/freecad` should work on catalina mojave bigsur intel and i've run the cmd on a m1 box i have access to. that is running monterey, and so far so good. it should install the latest stable version of freecad v0.20

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

[2022-08-17 20:11] #327 closed

[2022-08-17 20:12] ipatch commented on #316
the latest qt v5.15.5 supports webengine for m1, if anyone has an issue, comment and i'll reopen.

[2022-08-17 20:12] #316 closed

[2022-08-17 20:13] ipatch commented on #326
will attempt to follow up with this in a day or two.

[2022-08-17 20:15] ipatch commented on #267
i feel pretty confident this issue has been resolved with the below commit,

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

and `brew install freecad/freecad/freecad` should install the latest v0.20 release (stable) of freecad.

[2022-08-17 20:15] #267 closed

[2022-08-17 20:16] ipatch commented on #303
i have not run into this issue with recent builds of freecad or the v0.20 stable release. closing now,

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

will open a new issue if it arises.

[2022-08-17 20:16] #303 closed

[2022-08-17 20:22] TristanDebrunner opened #361 "Freecad formula failing on M1 mac"
When I run the most recent homebrew formula on my MacBook Pro with M1 MAX, is fails with the error below. I don't have any other hardware to test this on, so it might not be M1 specific.
[code]

The same error occurs without the `--only-dependencies` flag

[2022-08-17 20:29] ipatch commented on #237
this should be resolved with the below commit,

https://github.com/FreeCAD/homebrew-freecad/commit/addab68821f9c96272c24c1540edfd0cbb486953

[2022-08-17 20:29] #237 closed

[2022-08-17 20:37] ipatch commented on #361
i believe your using an outdated version of the tap possibly brew as well. make sure your homebrew-freecad tap is update. you can run `brew update` and should pull in all the latest changes.

you can also run,

[code]

and then run,

[code]

and you should see something like `481` as the output.

also make sure your tap is on the master branch.

and looking at your error message it looks you might

[2022-08-17 20:40] ipatch commented on #318
i'll attempt to try and follow up with in a day or two.

[2022-08-18 07:55] dirkolbrich commented on #361
Updating an already tapped freecad/freecad also gives errors. Before that updating was no problem.

[code]

[2022-08-18 08:06] dirkolbrich commented on #361
There seems to be some syntax error introduced with the latest commit:

[code]

[2022-08-18 08:16] dirkolbrich commented on #336
Thank you, formulae is fixed and is installable.

[2022-08-18 17:18] ipatch commented on #361
@dirkolbrich

i made a asciicast that will hopefully help you with getting your repo / homebrew tap setup properly.

https://asciinema.org/a/515723

and also converted the asciicast to a gif so you watch within the repo.
![freecad reset repo](https://user-images.githubusercontent.com/613805/185455810-f063c98b-4e62-4373-830e-8d262122e5eb.gif)

[2022-08-18 17:36] TristanDebrunner commented on #361
I don't think I've done anything that would modify the brew repo, but that does seem to have been the issue. 🤷  When I `cd`ed in it was mid rebase. The `git reset` seems to have fixed it

[2022-08-18 22:55] ipatch commented on #318
below are the steps to reproduce the bug with the surface wb.

https://user-images.githubusercontent.com/613805/185509076-e2a65318-2284-40a4-a2ab-21ce3ec3535e.mp4

[2022-08-19 07:07] dirkolbrich commented on #361
Me neither, haven‘t touched any homebrew related repo manually apart from the daily `brew update`.

[2022-08-19 18:47] ipatch commented on #361
and i'll leave this issue open for another day or two in case somebody else ran into this issue, then i'll close it.

[2022-08-24 22:57] ipatch commented on #278
did a `brew install freecad/freecad/freecad` to test the bottle built via the CI. it appears some more work will be required for the FreeCAD GUI cmd to pick up on the runtime dependencies of shiboken2 and PySide2.

the quick i found was to manually create `.pth` file pointing the `site-packages` directory for both the shiboken2 and PySide2 installations. after creating those two files.

one quick

[2022-08-24 23:45] ipatch commented on #177
the latest bottled version of freecad v0.20.1 when i installed it on macos catalina. i had a crash on save.

to reproduce,

open freecad
create a new document
create a body

save document. (there should be no crash).

create a sketch in the document. (no pading or any other actions required). then save the document again. the app should crash once a sketch is added to the body.

more than likely t

[2022-08-26 21:28] ipatch commented on #177
stack trace / crash report from current bottle install on catalina, _crash on save_ with a document containing a sketch.

[code]

[2022-08-27 22:29] #361 closed

[2022-09-08 09:40] kakke14 commented on #97
Did you manage to get it to work?

I have the same problem, trying to compile IfcOpenShell on Mac apple silicon.
I have tried installing hdf5 with the brew formula, but I am unsure how to update the path in Cmake.

[2022-09-16 05:15] MatthiasWM commented on #348
Assuming that `src/Tools/MakeMacBundleRelocatable.py` runs all the way through (as of today, it does not), running
[code]
will codesign all changed libraries after they have been relocated and their paths have been fixed. It is brute force, but at least for development on the local machine, it makes `FreeCAD.app` relocatable.

I patched `src/Tools/MakeMacBundleRelocatable.py` to find all the paths

[2022-09-16 17:16] ipatch commented on #348
@MatthiasWM

you might want to doublecheck that. it looks like you commented out the path to qt@5 which freecad uses, and then you added the path to qt ie. qt@6 which freecad currently does not support.

[2022-09-20 16:30] MatthiasWM commented on #348
Yes, you are right of course. I published the wrong patch. The Qt5 link is the correct one.

[2022-10-14 10:57] johnmarinelli commented on #142
any updates on this?  i am running into the same issue on MacOS Monterey when building from source and homebrew.

[2022-10-14 17:35] ipatch commented on #142
what error are you running into?

[2022-10-19 22:51] johnmarinelli commented on #142
@ipatch so, when trying to build from source, I got the same issue as https://github.com/FreeCAD/homebrew-freecad/issues/142#issuecomment-757510822:
"I'm still getting errors using brew install.  the install runs, but startup
fails.
During initialization the error "UI file does not exist" occurred in
/usr/local/Cellar/freecad/0.19pre/Mod/Draft/InitGui.py"

now, when I try `brew install freecad` (w

[2022-10-21 17:31] ipatch commented on #142
@johnmarinelli

hey john 👋, it seems you've more than likely run into a common runtime issue when building and running freecad.

if you're attempting to install freecad via `brew install freecad -v` and you see error messages in the console when opening a workbench such as the _Draft_ workbench than more than likely you're freecad installation is unable to pick up on your `site-packages` installat

[2022-11-04 13:27] dannystaple opened #367 "Failing to build from HEAD"
I'm a bit of a newbie with homebrew tap installs, but it looks like a patch failed during the build. I am on an X86 mac, with MacOS Monterey 12.6

My commands were:
[code]
The install failed with the following (redacted all but the relevant lines for now):
[code]

I am guessing that the sdk patch CMakeLists no longer match the underlying file in the FreeCAD repo head?
Trying to find the rejects fi

[2022-11-04 13:28] dannystaple commented on #367
There's significantly more at https://github.com/FreeCAD/FreeCAD/blob/master/src/MacAppBundle/CMakeLists.txt. Hmm - I'm going to see if I can get brew to clear those caches - as that looks very wrong to me.

[2022-11-04 13:30] dannystaple commented on #367
`brew cleanup` did a lot of stuff, but `/Users/danielstaple/Library/Caches/Homebrew/freecad@0.20.1--git/src` is still there.. Hmmm.

[2022-11-04 13:54] dannystaple commented on #367
Still there after `brew cleanup --prune=1 -s`. So untapping, and then rm -rf that freecad@0.20.1--git, and other freecad patch files. Lets retry adding the tap and buidling after that.

[2022-11-04 13:56] dannystaple commented on #367
Also doing a brew doctor before trying, see fi there's any underlying issues.

[2022-11-04 14:35] dannystaple commented on #367
Between the rm -rf's and cleanup, missed soemthign as I still see:
[code]
Hunk #1 FAILED at 114.
Hunk #2 FAILED at 132.
2 out of 2 hunks FAILED -- saving rejects to file src/MacAppBundle/CMakeLists.txt.rej
[code]

[2022-11-04 16:36] ipatch commented on #367
thanks for reporting the issue. there was a rather large commit that went through upstream editing a file related to mac app bundling, so if i had to guess it could be related to that. i'll poke around here in a bit and see what i can come up with.

[2022-11-04 17:33] ipatch commented on #367
more than likely related to

https://github.com/FreeCAD/FreeCAD/pull/7491

[2022-11-04 18:04] ipatch commented on #367
#368

[2022-11-04 18:39] dannystaple commented on #367
Ok - trying this out again. First - naively tried `brew cleanup --prune=1 -s && brew install --HEAD freecad` and still see the same error.
I then visited `$(brew --repository)/Library/Taps/freecad/homebrew-freecad` and performed a git pull - it was already on the most recent master. I performed a `git log` there and I can see:

[code]

Am I still missing a cleanup or update step?

[2022-11-04 18:54] ipatch commented on #367
it's kindof a 2 step process. i have to checkin the patch file, then update formula file. see the change i made with,

pr #369

[2022-11-04 18:54] ipatch commented on #367
i'm about to test locally to make sure the patching / configuring (cmake) goes through

[2022-11-04 19:42] ipatch commented on #367
tested locally with both commands posted above. from the tip of the `HEAD` and from `0.20.1` tarball, the `brew install` process completed the cmake checks and began the build/compile process.

i did have to unlink python@3.11 which was tripping the boost cmake check.

hope this helps.

[2022-11-04 22:37] dannystaple commented on #367
Hello, this built and installed with a `brew update` and `brew install freecad/freecad/freecad --head`. I'm happy to call it closed.

[2022-11-04 22:37] #367 closed

[2022-11-05 00:00] ipatch commented on #367
awesome 🎉🥳 glad to hear that, and thanks for the followup for letting me know, and closing the issue. 👍

[2022-11-05 14:09] dannystaple opened #373 "Documentation on building dev version"
I am trying to use https://wiki.freecadweb.org/Compile_on_MacOS and this to build.
It looks like that nglib and vtk must be installed with Brew, and the PREFIX_PATH isn't quite right.

Do you have any docs on getting this to build for FreeCAD development?

[2022-11-05 16:14] dannystaple commented on #373
With the version installed lastnight, during startup (with /usr/local/Cellar/freecad@0.20.1/HEAD-caa953a/MacOS/FreeCAD)
I see:
[code]

but FreeCAD does start.

Trying to compile I see:

[code]

brew info for these shows me:

[code]

and

[code]
Let's add the exports in and try that build again.. See if that removes the shiboken2 errors.

[code]

In my attempts to build I added the following:
[code

[2022-11-05 19:35] ipatch commented on #373
i see as you've found out that doing the `brew install freecad/freecad/freecad` does install a version of freecad, but doesn't lend itself to making local changes to the freecad source unfortunately the way brew is setup. brew is more geared for installing packages as opposed to developing packages. all that said, i do use deps installed by brew to manually build freecad, and then manually invoke

[2022-11-05 20:58] chennes commented on #373
You should drop the BUILD_QT5 flag: it doesn't exist anymore. You can either omit it completely, or use FREECAD_QT_VERSION=5 instead (though that is the default, so it is not needed).

[2022-11-06 13:55] dannystaple commented on #373
Good news - I got the configure step completed.
I set:
[code]
And used:
[code]

From a git cone of master (of branch thereof), will I need to apply the patches from this repo? Is there a recommended/suggested way you do this mid build (I don't want to create diffs that I might accidentally check in)?